# Report
*.aux
*.bbl
*.blg
*.glo
*.idx
*.lof
*.log
*.lot
*.out
*.toc
*.fls
*.ilg
*.ind
*.fdb_latexmk
*.synctex.gz

# Data
# data/raw/GW/ground_truth/transcription.txt
# data/raw/GW/line_image/
# data/raw/IAM/ground_truth/
data/raw/IAM/line_image/

# Ignore Pipenv and Poetry lock files
Pipfile.lock
poetry.lock
Pipfile

# Others
*.DS_Store